In [10]:
import pandas as pd

In [11]:
matches = pd.read_csv("matches.csv", index_col=0)

In [12]:
matches.head()

,date,time,comp,round,day,venue,result,gf,ga,opponent,...,match report,notes,sh,sot,dist,fk,pk,pkatt,season,team
1,2022-08-07,16:30,Premier League,Matchweek 1,Sun,Away,W,2.0,0.0,West Ham,...,Match Report,NaN,13.0,1.0,18.7,1.0,1.0,1.0,2023,Manchester City
2,2022-08-13,15:00,Premier League,Matchweek 2,Sat,Home,W,4.0,0.0,Bournemouth,...,Match Report,NaN,19.0,7.0,17.5,0.0,0.0,0.0,2023,Manchester City
3,2022-08-21,16:30,Premier League,Matchweek 3,Sun,Away,D,3.0,3.0,Newcastle Utd,...,Match Report,NaN,21.0,10.0,16.2,1.0,0.0,0.0,2023,Manchester City
4,2022-08-27,15:00,Premier League,Matchweek 4,Sat,Home,W,4.0,2.0,Crystal Palace,...,Match Report,NaN,18.0,5.0,14.1,0.0,0.0,0.0,2023,Manchester City
5,2022-08-31,19:30,Premier League,Matchweek 5,Wed,Home,W,6.0,0.0,Nott'ham Forest,...,Match Report,NaN,17.0,9.0,14.8,0.0,0.0,0.0,2023,Manchester City

In [13]:
matches.shape

(2280, 27)

In [16]:
# 3 seasons * 20 squads * 38 matches

3 * 20 * 38

2280

In [18]:
matches["team"].value_counts()

Manchester City             114
Crystal Palace              114
Southampton                 114
Leeds United                114
Leicester City              114
Everton                     114
West Ham United             114
Arsenal                     114
Chelsea                     114
Wolverhampton Wanderers     114
Tottenham Hotspur           114
Aston Villa                 114
Brighton and Hove Albion    114
Liverpool                   114
Newcastle United            114
Manchester United           114
Fulham                       76
Brentford                    76
Burnley                      76
Bournemouth                  38
Nottingham Forest            38
Watford                      38
Norwich City                 38
West Bromwich Albion         38
Sheffield United             38
Name: team, dtype: int64

In [19]:
matches[matches["team"] == "Liverpool"].sort_values("date")

,date,time,comp,round,day,venue,result,gf,ga,opponent,...,match report,notes,sh,sot,dist,fk,pk,pkatt,season,team
1,2020-09-12,17:30,Premier League,Matchweek 1,Sat,Home,W,4.0,3.0,Leeds United,...,Match Report,NaN,20.0,4.0,18.4,0.0,2.0,2.0,2021,Liverpool
2,2020-09-20,16:30,Premier League,Matchweek 2,Sun,Away,W,2.0,0.0,Chelsea,...,Match Report,NaN,18.0,5.0,18.2,1.0,0.0,0.0,2021,Liverpool
4,2020-09-28,20:00,Premier League,Matchweek 3,Mon,Home,W,3.0,1.0,Arsenal,...,Match Report,NaN,21.0,8.0,17.9,0.0,0.0,0.0,2021,Liverpool
6,2020-10-04,19:15,Premier League,Matchweek 4,Sun,Away,L,2.0,7.0,Aston Villa,...,Match Report,NaN,14.0,8.0,16.3,1.0,0.0,0.0,2021,Liverpool
7,2020-10-17,12:30,Premier League,Matchweek 5,Sat,Away,D,2.0,2.0,Everton,...,Match Report,NaN,22.0,8.0,16.0,2.0,0.0,0.0,2021,Liverpool
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
47,2023-05-03,20:00,Premier League,Matchweek 28,Wed,Home,W,1.0,0.0,Fulham,...,Match Report,NaN,14.0,2.0,22.6,0.0,1.0,1.0,2023,Liverpool
48,2023-05-06,17:30,Premier League,Matchweek 35,Sat,Home,W,1.0,0.0,Brentford,...,Match Report,NaN,15.0,5.0,18.8,0.0,0.0,0.0,2023,Liverpool
49,2023-05-15,20:00,Premier League,Matchweek 36,Mon,Away,W,3.0,0.0,Leicester City,...,Match Report,NaN,16.0,5.0,17.5,1.0,0.0,0.0,2023,Liverpool
50,2023-05-20,15:00,Premier League,Matchweek 37,Sat,Home,D,1.0,1.0,Aston Villa,...,Match Report,NaN,10.0,5.0,18.2,0.0,0.0,0.0,2023,Liverpool
51,2023-05-28,16:30,Premier League,Matchweek 38,Sun,Away,D,4.0,4.0,Southampton,...,Match Report,NaN,30.0,8.0,18.5,0.0,0.0,0.0,2023,Liverpool

In [20]:
matches["round"].value_counts()

Matchweek 1     60
Matchweek 30    60
Matchweek 23    60
Matchweek 12    60
Matchweek 24    60
Matchweek 25    60
Matchweek 26    60
Matchweek 27    60
Matchweek 29    60
Matchweek 31    60
Matchweek 2     60
Matchweek 33    60
Matchweek 34    60
Matchweek 28    60
Matchweek 35    60
Matchweek 36    60
Matchweek 37    60
Matchweek 32    60
Matchweek 22    60
Matchweek 21    60
Matchweek 7     60
Matchweek 20    60
Matchweek 3     60
Matchweek 4     60
Matchweek 5     60
Matchweek 6     60
Matchweek 8     60
Matchweek 9     60
Matchweek 10    60
Matchweek 11    60
Matchweek 13    60
Matchweek 14    60
Matchweek 15    60
Matchweek 16    60
Matchweek 17    60
Matchweek 18    60
Matchweek 19    60
Matchweek 38    60
Name: round, dtype: int64

In [21]:
matches.dtypes

date             object
time             object
comp             object
round            object
day              object
venue            object
result           object
gf              float64
ga              float64
opponent         object
xg              float64
xga             float64
poss            float64
attendance      float64
captain          object
formation        object
referee          object
match report     object
notes           float64
sh              float64
sot             float64
dist            float64
fk              float64
pk              float64
pkatt           float64
season            int64
team             object
dtype: object

In [22]:
del matches["comp"]

In [23]:
del matches["notes"]

In [24]:
matches["date"] = pd.to_datetime(matches["date"])

In [26]:
matches["target"] = (matches["result"] == "W").astype("int")

In [27]:
matches

,date,time,round,day,venue,result,gf,ga,opponent,xg,...,match report,sh,sot,dist,fk,pk,pkatt,season,team,target
1,2022-08-07,16:30,Matchweek 1,Sun,Away,W,2.0,0.0,West Ham,2.2,...,Match Report,13.0,1.0,18.7,1.0,1.0,1.0,2023,Manchester City,1
2,2022-08-13,15:00,Matchweek 2,Sat,Home,W,4.0,0.0,Bournemouth,1.7,...,Match Report,19.0,7.0,17.5,0.0,0.0,0.0,2023,Manchester City,1
3,2022-08-21,16:30,Matchweek 3,Sun,Away,D,3.0,3.0,Newcastle Utd,2.1,...,Match Report,21.0,10.0,16.2,1.0,0.0,0.0,2023,Manchester City,0
4,2022-08-27,15:00,Matchweek 4,Sat,Home,W,4.0,2.0,Crystal Palace,2.2,...,Match Report,18.0,5.0,14.1,0.0,0.0,0.0,2023,Manchester City,1
5,2022-08-31,19:30,Matchweek 5,Wed,Home,W,6.0,0.0,Nott'ham Forest,3.3,...,Match Report,17.0,9.0,14.8,0.0,0.0,0.0,2023,Manchester City,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
38,2021-05-02,19:15,Matchweek 34,Sun,Away,L,0.0,4.0,Tottenham,0.5,...,Match Report,8.0,1.0,18.2,0.0,0.0,0.0,2021,Sheffield United,0
39,2021-05-08,15:00,Matchweek 35,Sat,Home,L,0.0,2.0,Crystal Palace,0.7,...,Match Report,7.0,0.0,13.4,1.0,0.0,0.0,2021,Sheffield United,0
40,2021-05-16,19:00,Matchweek 36,Sun,Away,W,1.0,0.0,Everton,1.2,...,Match Report,10.0,3.0,18.5,0.0,0.0,0.0,2021,Sheffield United,1
41,2021-05-19,18:00,Matchweek 37,Wed,Away,L,0.0,1.0,Newcastle Utd,0.9,...,Match Report,11.0,1.0,18.3,1.0,0.0,0.0,2021,Sheffield United,0
42,2021-05-23,16:00,Matchweek 38,Sun,Home,W,1.0,0.0,Burnley,0.5,...,Match Report,12.0,3.0,17.4,0.0,0.0,0.0,2021,Sheffield United,1

In [28]:
matches["venue_code"] = matches["venue"].astype("category").cat.codes

In [29]:
matches["opp_code"] = matches["opponent"].astype("category").cat.codes

In [30]:
matches["hour"] = matches["time"].str.replace(":.+", "", regex=True).astype("int")

In [31]:
matches["day_code"] = matches["date"].dt.dayofweek

In [32]:
matches

,date,time,round,day,venue,result,gf,ga,opponent,xg,...,fk,pk,pkatt,season,team,target,venue_code,opp_code,hour,day_code
1,2022-08-07,16:30,Matchweek 1,Sun,Away,W,2.0,0.0,West Ham,2.2,...,1.0,1.0,1.0,2023,Manchester City,1,0,23,16,6
2,2022-08-13,15:00,Matchweek 2,Sat,Home,W,4.0,0.0,Bournemouth,1.7,...,0.0,0.0,0.0,2023,Manchester City,1,1,2,15,5
3,2022-08-21,16:30,Matchweek 3,Sun,Away,D,3.0,3.0,Newcastle Utd,2.1,...,1.0,0.0,0.0,2023,Manchester City,0,0,15,16,6
4,2022-08-27,15:00,Matchweek 4,Sat,Home,W,4.0,2.0,Crystal Palace,2.2,...,0.0,0.0,0.0,2023,Manchester City,1,1,7,15,5
5,2022-08-31,19:30,Matchweek 5,Wed,Home,W,6.0,0.0,Nott'ham Forest,3.3,...,0.0,0.0,0.0,2023,Manchester City,1,1,17,19,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
38,2021-05-02,19:15,Matchweek 34,Sun,Away,L,0.0,4.0,Tottenham,0.5,...,0.0,0.0,0.0,2021,Sheffield United,0,0,20,19,6
39,2021-05-08,15:00,Matchweek 35,Sat,Home,L,0.0,2.0,Crystal Palace,0.7,...,1.0,0.0,0.0,2021,Sheffield United,0,1,7,15,5
40,2021-05-16,19:00,Matchweek 36,Sun,Away,W,1.0,0.0,Everton,1.2,...,0.0,0.0,0.0,2021,Sheffield United,1,0,8,19,6
41,2021-05-19,18:00,Matchweek 37,Wed,Away,L,0.0,1.0,Newcastle Utd,0.9,...,1.0,0.0,0.0,2021,Sheffield United,0,0,15,18,2
42,2021-05-23,16:00,Matchweek 38,Sun,Home,W,1.0,0.0,Burnley,0.5,...,0.0,0.0,0.0,2021,Sheffield United,1,1,5,16,6

In [33]:
from sklearn.ensemble import RandomForestClassifier

In [34]:
rf = RandomForestClassifier(n_estimators=50, min_samples_split=10, random_state=1)

In [35]:
train = matches[matches["date"] < '2022-01-01']

In [36]:
test = matches[matches["date"] > '2022-01-01']

In [37]:
predictors = ["venue_code", "opp_code", "hour", "day_code"]

In [38]:
rf.fit(train[predictors], train["target"])

RandomForestClassifier(min_samples_split=10, n_estimators=50, random_state=1)

In [39]:
preds = rf.predict(test[predictors])

In [40]:
from sklearn.metrics import accuracy_score

In [41]:
error = accuracy_score(test["target"], preds)

In [42]:
error

0.5975609756097561

In [43]:
combined = pd.DataFrame(dict(actual=test["target"], predicted=preds))

In [44]:
pd.crosstab(index=combined["actual"], columns=combined["predicted"])

predicted    0    1
actual
0          558  142
1          320  128

In [45]:
from sklearn.metrics import precision_score

precision_score(test["target"], preds)

0.4740740740740741

In [46]:
grouped_matches = matches.groupby("team")

In [47]:
group = grouped_matches.get_group("Manchester City").sort_values("date")

In [48]:
def rolling_averages(group, cols, new_cols):
    group = group.sort_values("date")
    rolling_stats = group[cols].rolling(3, closed='left').mean()
    group[new_cols] = rolling_stats
    group = group.dropna(subset=new_cols)
    return group

In [49]:
cols = ["gf", "ga", "sh", "sot", "dist", "fk", "pk", "pkatt"]
new_cols = [f"{c}_rolling" for c in cols]

rolling_averages(group, cols, new_cols)

,date,time,round,day,venue,result,gf,ga,opponent,xg,...,hour,day_code,gf_rolling,ga_rolling,sh_rolling,sot_rolling,dist_rolling,fk_rolling,pk_rolling,pkatt_rolling
5,2020-10-17,17:30,Matchweek 5,Sat,Home,W,1.0,0.0,Arsenal,1.3,...,17,5,2.000000,2.333333,17.333333,4.666667,19.700000,1.333333,0.333333,0.333333
7,2020-10-24,12:30,Matchweek 6,Sat,Away,D,1.0,1.0,West Ham,1.0,...,12,5,1.333333,2.000000,17.333333,3.666667,18.566667,0.666667,0.000000,0.000000
9,2020-10-31,12:30,Matchweek 7,Sat,Away,W,1.0,0.0,Sheffield Utd,1.6,...,12,5,1.000000,0.666667,16.666667,4.333333,18.933333,0.666667,0.000000,0.000000
11,2020-11-08,16:30,Matchweek 8,Sun,Home,D,1.0,1.0,Liverpool,1.4,...,16,6,1.000000,0.333333,14.333333,6.666667,19.033333,1.000000,0.000000,0.000000
12,2020-11-21,17:30,Matchweek 9,Sat,Away,L,0.0,2.0,Tottenham,1.4,...,17,5,1.000000,0.666667,12.000000,5.666667,20.000000,1.000000,0.000000,0.333333
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
52,2023-05-06,15:00,Matchweek 35,Sat,Home,W,2.0,1.0,Leeds United,2.6,...,15,5,3.000000,0.666667,13.666667,8.000000,15.433333,0.000000,0.333333,0.333333
54,2023-05-14,14:00,Matchweek 36,Sun,Away,W,3.0,0.0,Everton,0.8,...,14,6,2.333333,0.666667,14.666667,7.000000,16.366667,0.666667,0.333333,0.666667
56,2023-05-21,16:00,Matchweek 37,Sun,Home,W,1.0,0.0,Chelsea,1.2,...,16,6,2.666667,0.333333,14.000000,5.666667,18.100000,1.333333,0.000000,0.333333
57,2023-05-24,20:00,Matchweek 32,Wed,Away,D,1.0,1.0,Brighton,1.8,...,20,2,2.000000,0.333333,13.666667,4.000000,18.933333,1.333333,0.000000,0.333333
58,2023-05-28,16:30,Matchweek 38,Sun,Away,L,0.0,1.0,Brentford,1.6,...,16,6,1.666667,0.333333,12.333333,3.333333,17.333333,0.666667,0.000000,0.000000

In [50]:
matches_rolling = matches.groupby("team").apply(lambda x: rolling_averages(x, cols, new_cols))

In [51]:
matches_rolling

                                 date   time         round  day venue result  \
team
Arsenal                 6  2020-10-04  14:00   Matchweek 4  Sun  Home      W
                        7  2020-10-17  17:30   Matchweek 5  Sat  Away      L
                        9  2020-10-25  19:15   Matchweek 6  Sun  Home      L
                        11 2020-11-01  16:30   Matchweek 7  Sun  Away      W
                        13 2020-11-08  19:15   Matchweek 8  Sun  Home      L
...                               ...    ...           ...  ...   ...    ...
Wolverhampton Wanderers 39 2023-04-29  15:00  Matchweek 34  Sat  Away      L
                        40 2023-05-06  15:00  Matchweek 35  Sat  Home      W
                        41 2023-05-13  15:00  Matchweek 36  Sat  Away      L
                        42 2023-05-20  15:00  Matchweek 37  Sat  Home      D
                        43 2023-05-28  16:30  Matchweek 38  Sun  Away      L

                             gf   ga         opponent   xg  ...  hour  \
team                                                        ...
Arsenal                 6   2.0  1.0    Sheffield Utd  0.6  ...    14
                        7   0.0  1.0  Manchester City  0.9  ...    17
                        9   0.0  1.0   Leicester City  0.7  ...    19
                        11  1.0  0.0   Manchester Utd  1.0  ...    16
                        13  0.0  3.0      Aston Villa  1.5  ...    19
...                         ...  ...              ...  ...  ...   ...
Wolverhampton Wanderers 39  0.0  6.0         Brighton  0.8  ...    15
                        40  1.0  0.0      Aston Villa  0.8  ...    15
                        41  0.0  2.0   Manchester Utd  0.3  ...    15
                        42  1.0  1.0          Everton  1.6  ...    15
                        43  0.0  5.0          Arsenal  0.5  ...    16

                            day_code  gf_rolling ga_rolling sh_rolling  \
team
Arsenal                 6          6    2.000000   1.333333   8.000000
                        7          5    1.666667   1.666667   5.666667
                        9          6    1.000000   1.666667   7.000000
                        11         6    0.666667   1.000000   9.666667
                        13         6    0.333333   0.666667   9.666667
...                              ...         ...        ...        ...
Wolverhampton Wanderers 39         5    1.666667   0.666667  11.666667
                        40         5    1.000000   2.666667  11.333333
                        41         5    1.000000   2.000000   8.000000
                        42         5    0.333333   2.666667   7.000000
                        43         6    0.666667   1.000000   8.000000

                           sot_rolling dist_rolling  fk_rolling  pk_rolling  \
team
Arsenal                 6     3.666667    14.633333    0.666667    0.000000
                        7     3.666667    15.366667    0.000000    0.000000
                        9     3.666667    16.566667    0.666667    0.000000
                        11    4.000000    16.566667    1.000000    0.000000
                        13    2.666667    19.333333    1.000000    0.333333
...                                ...          ...         ...         ...
Wolverhampton Wanderers 39    4.666667    18.700000    0.666667    0.333333
                        40    2.333333    18.800000    0.666667    0.333333
                        41    2.000000    17.766667    0.000000    0.333333
                        42    1.333333    15.600000    0.000000    0.000000
                        43    2.333333    15.333333    0.333333    0.000000

                            pkatt_rolling
team
Arsenal                 6        0.000000
                        7        0.000000
                        9        0.000000
                        11       0.000000
                        13       0.333333
...                                   ...
Wolverhampton Wanderers 39       0.333333
                        40       0.333333
                        41       0.333333
                        42       0.000000
                        43       0.000000

[2202 rows x 38 columns]

In [52]:
matches_rolling = matches_rolling.droplevel('team')

In [53]:
matches_rolling

,date,time,round,day,venue,result,gf,ga,opponent,xg,...,hour,day_code,gf_rolling,ga_rolling,sh_rolling,sot_rolling,dist_rolling,fk_rolling,pk_rolling,pkatt_rolling
6,2020-10-04,14:00,Matchweek 4,Sun,Home,W,2.0,1.0,Sheffield Utd,0.6,...,14,6,2.000000,1.333333,8.000000,3.666667,14.633333,0.666667,0.000000,0.000000
7,2020-10-17,17:30,Matchweek 5,Sat,Away,L,0.0,1.0,Manchester City,0.9,...,17,5,1.666667,1.666667,5.666667,3.666667,15.366667,0.000000,0.000000,0.000000
9,2020-10-25,19:15,Matchweek 6,Sun,Home,L,0.0,1.0,Leicester City,0.7,...,19,6,1.000000,1.666667,7.000000,3.666667,16.566667,0.666667,0.000000,0.000000
11,2020-11-01,16:30,Matchweek 7,Sun,Away,W,1.0,0.0,Manchester Utd,1.0,...,16,6,0.666667,1.000000,9.666667,4.000000,16.566667,1.000000,0.000000,0.000000
13,2020-11-08,19:15,Matchweek 8,Sun,Home,L,0.0,3.0,Aston Villa,1.5,...,19,6,0.333333,0.666667,9.666667,2.666667,19.333333,1.000000,0.333333,0.333333
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
39,2023-04-29,15:00,Matchweek 34,Sat,Away,L,0.0,6.0,Brighton,0.8,...,15,5,1.666667,0.666667,11.666667,4.666667,18.700000,0.666667,0.333333,0.333333
40,2023-05-06,15:00,Matchweek 35,Sat,Home,W,1.0,0.0,Aston Villa,0.8,...,15,5,1.000000,2.666667,11.333333,2.333333,18.800000,0.666667,0.333333,0.333333
41,2023-05-13,15:00,Matchweek 36,Sat,Away,L,0.0,2.0,Manchester Utd,0.3,...,15,5,1.000000,2.000000,8.000000,2.000000,17.766667,0.000000,0.333333,0.333333
42,2023-05-20,15:00,Matchweek 37,Sat,Home,D,1.0,1.0,Everton,1.6,...,15,5,0.333333,2.666667,7.000000,1.333333,15.600000,0.000000,0.000000,0.000000
43,2023-05-28,16:30,Matchweek 38,Sun,Away,L,0.0,5.0,Arsenal,0.5,...,16,6,0.666667,1.000000,8.000000,2.333333,15.333333,0.333333,0.000000,0.000000

In [54]:
matches_rolling.index = range(matches_rolling.shape[0])

In [55]:
def make_predictions(data, predictors):
    train = data[data["date"] < '2022-01-01']
    test = data[data["date"] > '2022-01-01']
    rf.fit(train[predictors], train["target"])
    preds = rf.predict(test[predictors])
    combined = pd.DataFrame(dict(actual=test["target"], predicted=preds), index=test.index)
    error = precision_score(test["target"], preds)
    return combined, error

In [56]:
combined, error = make_predictions(matches_rolling, predictors + new_cols)

In [57]:
error

0.540084388185654

In [58]:
combined = combined.merge(matches_rolling[["date", "team", "opponent", "result"]], left_index=True, right_index=True)

In [59]:
combined.head(10)

    actual  predicted       date     team        opponent result
55       0          1 2022-01-23  Arsenal         Burnley      D
56       1          0 2022-02-10  Arsenal          Wolves      W
57       1          0 2022-02-19  Arsenal       Brentford      W
58       1          1 2022-02-24  Arsenal          Wolves      W
59       1          1 2022-03-06  Arsenal         Watford      W
60       1          1 2022-03-13  Arsenal  Leicester City      W
61       0          0 2022-03-16  Arsenal       Liverpool      L
62       1          0 2022-03-19  Arsenal     Aston Villa      W
63       0          0 2022-04-04  Arsenal  Crystal Palace      L
64       0          0 2022-04-09  Arsenal        Brighton      L

In [60]:
class MissingDict(dict):
    __missing__ = lambda self, key: key

map_values = {"Brighton and Hove Albion": "Brighton", "Manchester United": "Manchester Utd", "Newcastle United": "Newcastle Utd", "Tottenham Hotspur": "Tottenham", "West Ham United": "West Ham", "Wolverhampton Wanderers": "Wolves"} 
mapping = MissingDict(**map_values)

In [61]:
combined["new_team"] = combined["team"].map(mapping)

In [62]:
merged = combined.merge(combined, left_on=["date", "new_team"], right_on=["date", "opponent"])

In [63]:
merged

,actual_x,predicted_x,date,team_x,opponent_x,result_x,new_team_x,actual_y,predicted_y,team_y,opponent_y,result_y,new_team_y
0,0,1,2022-01-23,Arsenal,Burnley,D,Arsenal,0,0,Burnley,Arsenal,D,Burnley
1,1,0,2022-02-10,Arsenal,Wolves,W,Arsenal,0,0,Wolverhampton Wanderers,Arsenal,L,Wolves
2,1,0,2022-02-19,Arsenal,Brentford,W,Arsenal,0,0,Brentford,Arsenal,L,Brentford
3,1,1,2022-02-24,Arsenal,Wolves,W,Arsenal,0,0,Wolverhampton Wanderers,Arsenal,L,Wolves
4,1,1,2022-03-06,Arsenal,Watford,W,Arsenal,0,0,Watford,Arsenal,L,Watford
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1096,0,0,2023-04-29,Wolverhampton Wanderers,Brighton,L,Wolves,1,1,Brighton and Hove Albion,Wolves,W,Brighton
1097,1,0,2023-05-06,Wolverhampton Wanderers,Aston Villa,W,Wolves,0,0,Aston Villa,Wolves,L,Aston Villa
1098,0,0,2023-05-13,Wolverhampton Wanderers,Manchester Utd,L,Wolves,1,0,Manchester United,Wolves,W,Manchester Utd
1099,0,0,2023-05-20,Wolverhampton Wanderers,Everton,D,Wolves,0,0,Everton,Wolves,D,Everton
1100,0,0,2023-05-28,Wolverhampton Wanderers,Arsenal,L,Wolves,1,0,Arsenal,Wolves,W,Arsenal

In [64]:
merged[(merged["predicted_x"] == 1) & (merged["predicted_y"] ==0)]["actual_x"].value_counts() # If prediction was team a would win, team b would lose what actually happened

1    117
0     95
Name: actual_x, dtype: int64

In [66]:
matches.columns

Index(['date', 'time', 'round', 'day', 'venue', 'result', 'gf', 'ga',
       'opponent', 'xg', 'xga', 'poss', 'attendance', 'captain', 'formation',
       'referee', 'match report', 'sh', 'sot', 'dist', 'fk', 'pk', 'pkatt',
       'season', 'team', 'target', 'venue_code', 'opp_code', 'hour',
       'day_code'],
      dtype='object')

['date', 'time', 'round', 'venue', 'result', 'gf', 'ga', 'opponent', 'xg', 'xga', 'poss', 'attendance', 'referee', 
 'sh', 'sot', 'dist', 'fk', 'pk', 'pkatt', 'season', 'team', 'target', 'venue_code', 'opp_code', 'hour', 'day_code']